[user]
	name = David Rosa Moncayo
	email = david.rosamoncayo@gmail.com

[include]
  path = ~/.config/delta/catpuccin.gitconfig0

[delta]
  features = catppuccin-mocha

[core]
  pager = delta

[iteractive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
